/*Universal*/
body{
    background-color: rgb(33, 33, 33);
}

*{
    font-family: Agbalumo, cursive;
}

/*Header*/
.header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(93, 93, 93);
}

.header li{
    float: left;
}

.header li a{
    font-size: larger;
    font-weight: bold;
    color: white;
    display: block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.header li a:hover:not(.active){
    background-color: rgb(63, 63, 63);
}

.header li a.active{
    background-color: rgb(152, 152, 152);
}

.dropdown_content{
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(80, 80, 80);
    z-index: 1;
}
  
.dropdown_content a{
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}
  
.dropdown_content a:hover{
    background-color: rgb(52, 52, 52);
}
  
.dropdown:hover .dropdown_content {
    display: block;
}

/*Home*/
.home{
    z-index: -1;
    border-bottom: 5px solid rgb(159, 159, 159);
    position: absolute;
    left: 0;
    width: 70%;
    margin: 30px;
}

.home p{
    padding: 50px 50px;
    color: white;
    font-size: 3em;
    text-align: left;
}

.home_icon{
    z-index: -1;
    position: absolute;
    right: 0;
    width: 18%;
    margin: 30px 60px;
    float: right;
}